%tr
  %td
    = well.file_number
  %td
    = well.api_number
  %td
    = well.operator_name
  %td
    = well.township
  %td
    = well.township_bearing
  %td
    = well.range
  %td
    = well.range_bearing
  %td
    = well.section
  %td
    = well.state
  %td
    = well.field_name
  %td
    = well.spudded_on
  %td
    = well.completed_on
  %td
    = well.well_name
  %td
    = well.well_number
  %td
    = well.well_type
  %td
    = well.formation
  %td
    = well.status
  %td
    = well.elevation
  %td
    = well.depth
  %td
    = well.geom
